{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('back/user_dashboard_crud/_form.html.twig') }}

    <a href="{{ path('app_back_user_dashboard_crud_index') }}">back to list</a>
{% endblock %}
